################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dicsys
/Dicsys Angular/frontDicsys
/ionic/ionic
/WebApplication1
